version: "2"
services:
  php-cli:
    env_file: .env
    build:
      context: .
      dockerfile: docker/php-cli/Dockerfile
    volumes:
      - ./:/data
      - composer-data:/composer
volumes:
  composer-data:
